go 1.18

use (
./grpc/client
./grpc/server
./ginstudy
./jsonxml
./viper
./kratos/kratostudy
./001
./reflectStudy
./custinterceptor
./agollo
./runtime
./gorm
./http
./ioc
./snowflake
./goleak
./jwt
./kafka
./rsa
./zap
./grpc-gateway-example
./opentelemetry-go
./semaphore
)
