go 1.18

use (
	./agollo
	./base
	./chatgpt
	./custinterceptor
	./ginstudy
	./goleak
	./gorm
	./grpc-gateway-example
	./grpc/client
	./grpc/server
	./http
	./ioc
	./jsonxml
	./jwt
	./kafka
	./kratos/kratostudy
	./ns
	./opentelemetry-go
	./prome
	./proxy
	./reflectStudy
	./rsa
	./runtime
	./semaphore
	./snowflake
	./socket/client
	./socket/serve
	./start
	./viper
	./zap
	./httpsproxy
	./redis
	./es
	./Govulncheck
)
