go 1.21.0

use (
	./Govulncheck
	./agollo
	./base
	./chatgpt
	./custinterceptor
	./es
	./eventbus
	./ginstudy
	./goleak
	./gorm
	./grpc-gateway-example
	./grpc/client
	./grpc/server
	./http
	./httpsproxy
	./ioc
	./jsonxml
	./jwt
	./kafka
	./kratos/kratostudy
	./mmap
	./ns
	./opentelemetry-go
	./prome
	./proxy
	./redis
	./redislock
	./reflectStudy
	./rsa
	./runtime
	./semaphore
	./snowflake
	./socket/client
	./socket/serve
	./start
	./unsafe
	./viper
	./zap
	./complier
	./cgo
	./gpdf
	./gotest
	./slog
	./arena
	./rabbitMq
	./k8sclient
)
